@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('./css/fontawesome.css');
/*
@font-face {
  font-family: 'Overwatch';
  src: url(https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff);
}
*/

:root {
  --main-bg-color: #405275;
  --button-bg-color: #218ffe;
  --button-disabled-bg-color: #aaa;
  --cell-active-bg-color: #f99e1a;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  touch-action: manipulation;
}

body {
  background: var(--main-bg-color);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

header, footer {
  text-align: center;
  margin: 30px 0;
  color: white;
}

a {
  color: inherit;
}

h1 {
  color: white;
  font-family: 'Overwatch', sans-serif;
  font-size: 48pt;
  text-align: center;
  text-transform: uppercase;
  margin: 25px 0;
}

@media print {
  header, footer {
    margin: 0;
  }
}